:root {
	--color-primary: #7777dc;
	--color-secondary: #7084b7;
	--color-highlight: #a244a2;
	--color-highlight-secondary: #492c45;
	
	--color-bg-primary: #151515;
	--color-bg-secondary: #090909;

	--color-footer-primary: #46648d;
	--color-footer-secondary: #6069ab;
	--color-footer-highlight: white;
	--color-footer-ruler: #1d4479;
	
	--color-header-primary: #575f9c77;
	--color-header-secondary: #575f9c11;
	--color-header-highlight: white;
	--color-header-ruler: #3864a044;

	--color-posts-bg: #22222266;
	--color-posts-ruler: #22222288;
	--color-post-bg-primary: #40404044;
	--color-post-bg-secondary: #33333300;

	--color-gradient-bg: var(--color-bg-primary); /* For browsers that do not support gradients */
	--color-gradient-bg: -webkit-linear-gradient( var(--color-bg-primary)), var(--color-bg-secondary)) ); /* For Safari 5.1 to 6.0 */
	--color-gradient-bg: -o-linear-gradient( var(--color-bg-primary), var(--color-bg-secondary) ); /* For Opera 11.1 to 12.0 */
	--color-gradient-bg: -moz-linear-gradient( var(--color-bg-primary), var(--color-bg-secondary) ); /* For Firefox 3.6 to 15 */
	--color-gradient-bg: linear-gradient(var(--color-bg-primary), var(--color-bg-secondary)); /* Standard syntax */

	--color-gradient-footer: var(--color-footer-primary); /* For browsers that do not support gradients */
	--color-gradient-footer: -webkit-linear-gradient( var(--color-footer-primary)), var(--color-footer-secondary)) ); /* For Safari 5.1 to 6.0 */
	--color-gradient-footer: -o-linear-gradient( var(--color-footer-primary), var(--color-footer-secondary) ); /* For Opera 11.1 to 12.0 */
	--color-gradient-footer: -moz-linear-gradient( var(--color-footer-primary), var(--color-footer-secondary) ); /* For Firefox 3.6 to 15 */
	--color-gradient-footer: linear-gradient(var(--color-footer-primary), var(--color-footer-secondary)); /* Standard syntax */

	--color-gradient-header: var(--color-header-primary); /* For browsers that do not support gradients */
	--color-gradient-header: -webkit-linear-gradient( var(--color-header-primary)), var(--color-header-secondary)) ); /* For Safari 5.1 to 6.0 */
	--color-gradient-header: -o-linear-gradient( var(--color-header-primary), var(--color-header-secondary) ); /* For Opera 11.1 to 12.0 */
	--color-gradient-header: -moz-linear-gradient( var(--color-header-primary), var(--color-header-secondary) ); /* For Firefox 3.6 to 15 */
	--color-gradient-header: linear-gradient(var(--color-header-primary), var(--color-header-secondary)); /* Standard syntax */

	--color-gradient-post-bg: var(--color-post-bg-primary); /* For browsers that do not support gradients */
	--color-gradient-post-bg: -webkit-linear-gradient( var(--color-post-bg-primary)), var(--color-post-bg-secondary)) ); /* For Safari 5.1 to 6.0 */
	--color-gradient-post-bg: -o-linear-gradient( var(--color-post-bg-primary), var(--color-post-bg-secondary) ); /* For Opera 11.1 to 12.0 */
	--color-gradient-post-bg: -moz-linear-gradient( var(--color-post-bg-primary), var(--color-post-bg-secondary) ); /* For Firefox 3.6 to 15 */
	--color-gradient-post-bg: linear-gradient(var(--color-post-bg-primary), var(--color-post-bg-secondary)); /* Standard syntax */

}

body {
	
	background: var(--color-gradient-bg, white); 
	display: flex;
	flex-direction: column;
	min-height: 95vh;
	text-align: center;
	color: white;
}

#header {
	background: var(--color-gradient-header, var(--color-header-primary));
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 12px;
}
#header .ruler {
	background: var(--color-header-ruler);
	height: 5px;
}

footer {
	background: var(--color-gradient-footer, var(--color-footer-primary));
	margin: 20px 0px 0px 0px;
	padding: 20px 0px 0px 0px;
	text-align: center;
	font-size: 12px;
}
footer .ruler {
	background: var(--color-footer-ruler);
	height: 15px;
}

hr {
	background-color: var(--color-highlight);
	border-color: var(--color-highlight);
	color: var(--color-highlight);
}

.ruler {
	height: 10px;
	margin: 0px;
	padding: 0px;
}

.spacer {
	flex: 1;
}

.button {
	background-color: var(--color-secondary);
	border: 2px solid var(--color-secondary);
	color: white;
	padding: 5px 16px;
	border-radius: 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;

	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}
.button:hover {
	background-color: var(--color-highlight);
	border: 2px solid var(--color-highlight-secondary);
}

#navi {
	text-align: center;
	max-width: 100%;
	/*height: auto !important;*/
}
#navi table {
	margin: 0 auto;
}


div#logo img {
	/*width: 400px;*/
	max-width: 100%;
	height: auto !important;
}

div#projects {
}

div#about {
	
}
div#about .post{
	text-align: left;
}

.posts {
	background-color: var(--color-posts-bg);
	/*padding: 5px;*/
	max-width: 600px;
	min-width: 320px; /* TODO: min(320, screenWidth)*/
	width: 65%;
	margin: 0 auto;
}
.posts hr {
	/*border-color: #602060;*/
	margin: 5px;
}
.posts .ruler{
	background: var(--color-posts-ruler);
	/*height: 10px;*/
}


.post{
	background: var(--color-gradient-post-bg, var(--color-post-bg-primary));
	margin: 5px;
	padding: 5px;
}
.post-head {
	font-size: 30px;
	margin: 5px;
}
.post-title {
	font-size: 20px;
	padding: 5px;
	text-align: left;
}
.post-desc {
	width: 100%;
	padding: 5px;
}

.post-link a{
	background-color: #330033;
	border: 2px solid #330033;
	color: white;
	padding: 5px 32px;
	border-radius: 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	width: 60%;

	-webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}
.post-link a:hover{
	background-color: #5c0a5c;
	border: 2px solid #b43cdd;
}
.post-link a:before{
	content: "Visit Page";
}
.post-link a:hover:before{
	content: "Visit Page >>";
}